@import '/src/styles/vars';
@import '/src/styles/temp';

.stars {
	@extend %flex;
	@extend %items-center;
	gap: 4px;
}

.star {
	width: 14px;
	height: 14px;

	&.rated path {
		fill: $bgc-star;
	}
}



