@import '/src/styles/vars';
@import '/src/styles/temp';

.card {
  @extend %flex;
  @extend %flex-col;
  @extend %justify-between;
  position: relative;
	padding: 30px;
	background: $c-white;
	border: 1px solid $c-gray;
  width: 100%;
  transition: $transition-all;

  &:hover {
    border: 1px solid rgba($c-black, 0.3);
  }
}

.image {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  align-self: center;
  margin-bottom: 12px;
}
