@import 'src/styles/vars';
@import 'src/styles/temp';

.button {
	@extend %flex-center;

	width: 40px;
	height: 40px;
}

.icon {
	cursor: pointer;

	& > * {
		transition: $transition-colors;
	}

	&:hover > * {
		stroke: $c-red;

		&:last-child {
			stroke: none;
			fill: $c-red;
		}
	}

	&.favorite {
		animation: 1.5s ease 0s beat;

		& > * {
			stroke: $c-red;

			&:last-child {
				stroke: none;
				fill: $c-red;
			}
		}
	}
}

@keyframes beat {
	0%,
	50%,
	100% {
		transform: scale(1, 1);
	}
	30%,
	80% {
		transform: scale(0.92, 0.92);
	}
}
